html{
box-sizing: border-box;
}

.jumbotron{
    text-align: center;
    background-image: url("img/ice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* text-shadow: 0px 0px 3px white; */
}

.jumbotron p, .jumbotron h1, .jumbotron h2{
    /* color: #FFFFFF;
    mix-blend-mode: difference; */
    color: #000000;
    text-shadow: 0px 0px 3px white;
}

h3{
    padding-top: 0;
    margin-top: 0;
}

img{
    margin-bottom: 10px;
}

.navbar-nav li:hover{
    background-color: white;
}

.navbar-nav > .active > a{
  color: black !important;
  background-color:#EAE5E2 !important;
  background-image: none !important;
}

#footer{
    text-align: center;
}

.red{
    color:red;
}
.form-area{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
    background-image: url("img/abba.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.form-area h3{
    color: #FFFFFF;
    mix-blend-mode: difference;
}

.form-area #characterLeft{
    color: #FFFFFF;
    mix-blend-mode: difference;
}

hr{
    color: grey;
}

.derou:hover{
    background-color: white !important;
}

.trucodsu{
    height: 80px;
}
